.section { 
  position: relative; 
  padding: 30px 0;
  text-align: center;
}

.section-hero {
  padding: 0;
}

.section-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}

.section-background > img {
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}

.section-decore {
  background-image: url(.././../images/decore.png);
  background-position: left bottom;
  background-repeat: repeat-x;
  padding: 40px 0;
}


.section-title-1 {
  color: #ffffff;
  font-family: "Segoe WP";
  font-size: 25px;
  font-weight: 300;
  line-height: 35.94px;
}

.section-caption {
  color: #6f7173;
  font-family: "Segoe WPN";
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 20px;
}

.section-subtitle {
  color: #5094f2;
  font-family: "Segoe WPN";
  font-size: 30px;
  font-weight: 400;
  line-height: 51.86px;
}

.section-subtitle-1 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  line-height: 35.94px;
}

.section-subtitle-2 {
  color: #6f7173;
  font-family: "Segoe WPN";
  font-size: 30px;
  font-weight: 400;
}

.section-title {
  color: #5094f2;
  font-family: "Segoe WPN";
  font-size: 25px;
  font-weight: 400;
  line-height: 51.86px;
}

.section-description {
  color: #909090;
  font-family: "Segoe WPN";
  font-size: 20px;
  font-weight: 400;
}

.section-description-2 {
    color: #909090;
    font-family: "Segoe WPN";
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
}

.section-description-3 {
  color: #909090;
  font-family: "Segoe WPN";
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
}
/*media//////////////////////////////////////////////////////////////////////////*/

@media (min-width: 480px) {
  .section-subtitle {
    text-align: left;
    font-size: 25px;
    margin: 0;
  }
  
  .section-description {
    text-align: left;
    margin: 0;
  }

  .section-caption {
    text-align: center;
  }
}

@media (min-width: 640px) {
  .section-title-1 {
    font-size: 35px;
  }

  .section-subtitle {
    font-size: 30px;
  }

  .section-subtitle-1{
    font-size: 22px;
  }

  .section-description {
    font-size: 18px;
  }

  .section-description-2 {
    font-size: 18px;
  }

  .section-description-3 {
    font-size: 17px;
  }
}

@media (min-width: 960px) {
    .section-subtitle-1 {
      margin: 0;
  }

    .section-description {
      font-size: 16px;
      text-align: center;
  }

  .section-caption {
    text-align: left;
    padding-left: 70px;
  }

  .section-title-1 {
    font-size: 42px;
  }

  .section-title-1 {
    font-size: 30px;
  }

  .section-subtitle {
    font-size: 25px;
    text-align: center;
  }

  .section-subtitle-2 {
    font-size: 26px;
    text-align: center;
  }

  .section-description-2 {
    font-size: 16px;
  }

  .section-description-3 {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .section-subtitle {
    font-size: 20px;
  }

  .section-description-3 {
    font-size: 17px;
  }
}


